<div class="container">
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 card mt-5" style="width: 18rem;">
          <img src="assets/images/main.jpg" class="card-img-top img-fluid mt-2" width="600" height="400" >
          <div class="card-body">
            <h5 class="card-title text-center">Cascos: Bell Helmets presentó su colección 2020</h5>
            <p class="card-text">Durante una entretenida cita con los distribuidores de los cascos Bell, el Grupo Corbeta, presentó la más reciente colección de los cascos estadounidenses. El programa contó con la presencia de algunos deportistas nacionales que son usuarios de la marca, representantes de la fábrica y medios de prensa.</p>
            <a href="https://www.demotos.com.co/" class="btn btn-primary">Leer mas</a>
          </div>
        </div>
  </div>  
</div>