<configuration>
    <system.webServer>
        <rewrite>
          <rules>
            <rule name="Main Rule" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/mtApp/mtApp" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
	<system.web>
			<httpRuntime executionTimeout="12000" />
	</system.web>
</configuration>
