<div class="container mt-5">
  <div class="container">
    <h3>Vehiculos</h3>
  </div>
  <br>
  <br>
  <div class="container">
    <app-loading *ngIf="isLoading" class="col-12 text-center" style="font-size: 30px;"></app-loading>
  </div>
  <div class="row">
    <!-- <i *ngIf="!isLoading" style="cursor: pointer; color: green; font-size: 30px;" class="fas fa-plus-square col-3"
      [routerLink]="['/createservice']" routerLinkActive="router-link-active"></i> -->
    <!--<div class="alert alert-success text-center col-9" role="alert">
              Servicio creado correctamente.
            </div>-->
  </div>
  <div *ngIf="!isLoading" class="container row">
    <table class="table table-hover">
      <thead>
        <tr>
          <!-- <th scope="col">Opciones</th> -->
          <th scope="col">PLACA</th>
          <th scope="col">Tipo</th>
          <th scope="col">Dueño</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let veicle of veicles">
          <tr>
            <!-- <th scope="row"><i style="cursor: pointer; color: #0079bf;" (click)="OpenModal(service)"
                class="fas fa-edit mr-2" data-toggle="modal" data-target="#myModal"></i>
              <i class="fas fa-trash-alt" style="cursor: pointer; color: orangered;" data-toggle="modal" data-target="#confirmationModal" (click)="OpenDeleteModal(service)"></i></th> -->
            <td>{{veicle.placa}}</td>
            <td>{{veicle.tipo_vehiculo}}</td>
            <td>{{veicle.dueno.nombre}} {{veicle.dueno.s_apellido}} {{veicle.dueno.s_apellido}} </td>
            <!-- <td [ngStyle]="{'color': service.estado == 'FINALIZADO' ? 'green' : (service.estado == 'EN PROGRESO' ? 'orange' : 'red')}">
              <strong>{{service.estado}}</strong>
            </td> -->
            <!-- <td>
              <p class="mb-0 text-center"><i class="far fa-comments text-center" style="cursor: pointer;font-size: 26px; color: #15aabf;" (click)="OpenComments(service)" data-toggle="modal" data-target="#commentsModal"></i></p>
            </td> -->
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>