<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="../../../../../assets/images/Logo.png" width="60" height="30" alt="">
    Moto Fox App
  </a>
  <div class="nav text-left" *ngIf="showNavbarOptions">
    <a class="nav-link" style="color:aliceblue" [routerLink]="['/inicio']"  >Inicio</a>
    <a class="nav-link" style="color:aliceblue" [routerLink]="['/services']" >Servicios</a>
    <a class="nav-link" style="color:aliceblue" [routerLink]="['/contact']">Dónde estamos</a>
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" style="color:aliceblue" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mi cuenta</a>  
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" [routerLink]="['/edituser']" routerLinkActive="router-link-active" >Editar</a>
      <a class="dropdown-item" [routerLink]="['/login']" (click)="LogOut()">Salir</a>
    </div>
  </div>
</nav>